interactions:
- request:
    body: mktId=ALL&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT01901
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Requested-With:
      - XMLHttpRequest
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"OutBlock_1\":[{\"ISU_CD\":\"KR7098120009\",\"ISU_SRT_CD\":\"098120\",\"ISU_NM\":\"(\uC8FC)\uB9C8\uC774\uD06C\uB85C\uCEE8\uD14D\uC194\uB8E8\uC158\",\"ISU_ABBRV\":\"\uB9C8\uC774\uD06C\uB85C\uCEE8\uD14D\uC194\",\"ISU_ENG_NM\":\"Micro
        Contact Solution Co.,Ltd.\",\"LIST_DD\":\"2008/09/23\",\"MKT_TP_NM\":\"KOSDAQ\",\"SECUGRP_NM\":\"\uC8FC\uAD8C\",\"SECT_TP_NM\":\"\uC911\uACAC\uAE30\uC5C5\uBD80\",\"KIND_STKCERT_TP_NM\":\"\uBCF4\uD1B5\uC8FC\",\"PARVAL\":\"500\",\"LIST_SHRS\":\"8,312,766\"},{\"ISU_CD\":\"KR7009520008\",\"ISU_SRT_CD\":\"009520\",\"ISU_NM\":\"(\uC8FC)\uD3EC\uC2A4\uCF54\uC5E0\uD14D\",\"ISU_ABBRV\":\"\uD3EC\uC2A4\uCF54\uC5E0\uD14D\",\"ISU_ENG_NM\":\"POSCO
        M-TECH CO.,LTD.\",\"LIST_DD\":\"1997/11/10\",\"MKT_TP_NM\":\"KOSDAQ GLOBAL\",\"SECUGRP_NM\":\"\uC8FC\uAD8C\",\"SECT_TP_NM\":\"\uC6B0\uB7C9\uAE30\uC5C5\uBD80\",\"KIND_STKCERT_TP_NM\":\"\uBCF4\uD1B5\uC8FC\",\"PARVAL\":\"500\",\"LIST_SHRS\":\"41,642,703\"},{\"ISU_CD\":\"KR7095570008\",\"ISU_SRT_CD\[...]
