interactions:
- request:
    body: mktsel=1&bld=dbms%2Fcomm%2Ffinder%2Ffinder_equidx
    headers:
      Content-Type:
      - application/x-www-form-urlencoded

      Referer:
      - https://data.krx.co.kr/contents/MDC/MDI/outerLoader/index.cmd
      User-Agent:
      - Mozilla/5.0
      X-Requested-With:
      - XMLHttpRequest
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"block1\":[{\"full_code\":\"5\",\"short_code\":\"302\",\"codeName\":\"\uCF54\uB9AC\uC544
        \uBC38\uB958\uC5C5 \uC9C0\uC218\",\"marketCode\":\"KRX\",\"marketName\":\"KRX\"},{\"full_code\":\"5\",\"short_code\":\"447\",\"codeName\":\"KRX
        TMI\",\"marketCode\":\"KRX\",\"marketName\":\"KRX\"},{\"full_code\":\"5\",\"short_code\":\"300\",\"codeName\":\"KRX
        300\",\"marketCode\":\"KRX\",\"marketName\":\"KRX\"},{\"full_code\":\"5\",\"short_code\":\"921\",\"codeName\":\"KRX
        \uC911\uB300\uD615 TMI\",\"marketCode\":\"KRX\",\"marketName\":\"KRX\"},{\"full_code\":\"5\",\"short_code\":\"922\",\"codeName\":\"KRX
        \uC911\uD615 TMI\",\"marketCo[...]
