interactions:
- request:
    body: indIdx2=001&indIdx=1&trdDd=20210125&tboxindIdx_finder_equidx0_0=%25EC%25BD%2594%25EC%258A%25A4%25ED%2594%25BC&codeNmindIdx_finder_equidx0_0=%25EC%25BD%2594%25EC%258A%25A4%25ED%2594%25BC&bld=dbms%2FMDC%2FSTAT%2Fstandard%2FMDCSTAT00601
    headers:
      Content-Type:
      - application/x-www-form-urlencoded

      Referer:
      - https://data.krx.co.kr/contents/MDC/MDI/outerLoader/index.cmd
      User-Agent:
      - Mozilla/5.0
      X-Requested-With:
      - XMLHttpRequest
    method: POST
    uri: https://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd
  response:
    body:
      string: "{\"output\":[{\"ISU_SRT_CD\":\"005930\",\"ISU_ABBRV\":\"\uC0BC\uC131\uC804\uC790\",\"TDD_CLSPRC\":\"89,400\",\"FLUC_TP_CD\":\"1\",\"STR_CMP_PRC\":\"2,600\",\"FLUC_RT\":\"3.00\",\"MKTCAP\":\"533,698,559,970,000\",\"IDX_ID\":\"\"},{\"ISU_SRT_CD\":\"000660\",\"ISU_ABBRV\":\"SK\uD558\uC774\uB2C9\uC2A4\",\"TDD_CLSPRC\":\"135,000\",\"FLUC_TP_CD\":\"1\",\"STR_CMP_PRC\":\"6,500\",\"FLUC_RT\":\"5.06\",\"MKTCAP\":\"98,280,319,275,000\",\"IDX_ID\":\"\"},{\"ISU_SRT_CD\":\"051910\",\"ISU_ABBRV\":\"LG\uD654\uD559\",\"TDD_CLSPRC\":\"990,000\",\"FLUC_TP_CD\":\"1\",\"STR_CMP_PRC\":\"15,000\",\"FLUC_RT\":\"1.54\",\"MKTCAP\":\"69,886,419,570,000\",\"IDX_ID\":\"\"},{\"ISU_SRT_CD\":\"035420\",\"ISU_ABBRV\":\"NAVER\",\"TDD_CLSPRC\":\"3[...]
